<%= render 'shared/main-navbar-artist' %>

<div class="artist-dashboard-container" data-controller="artist">
  <%= render 'shared/dashboard-navbar-artist' %>

  <div class="artist-dashboard-dashboard" data-artist-target="dashboard_dashboard">
    <h4><%= pluralize(@artist.nb_plays, "play") %></h4>
    <h4><%= pluralize(@artist.fan_artists.count, "fan") %></h4>
    <h4><%= pluralize(@artist.duration, "seconds") %></h4>
    <%= line_chart @artist.musics.group_by_day(:created_at).count %>
  </div>
  <div class="artist-dashboard-works display-none" data-artist-target="dashboard_works">
    <h3><%= pluralize(@artist.albums.count, "Album") %></h3>
    <% @artist.albums.each do |album| %>
      <p><%= link_to album.name, artist_album_path(@artist, album.id) %></p>
      <p><%= link_to "Edit #{album.name}", edit_artist_album_path(@artist, album) %></p>
      <p><%= link_to "Destroy #{album.name}", artist_album_path(@artist, album),
                    method: :delete, data: { confirm: "Are you sure ?"} %></p>
    <% end %>
  </div>

  <div class="m-3">
    <%= link_to "Log out", destroy_artist_session_path, method: :delete, data: {confirm: "Are you sure ?"} %>
  </div>
</div>

