<div class="m-5">
  <h1>This is the <%= @artist.name %> dashboard</h1>
  <p>find me in app/views/artists/dashboard.html.erb</p>

  <%= cl_image_tag @artist.photo.key, height: 48, width: 48, crop: :fill %>

  <div class="m-5">
    <p><%= link_to "Edit profile", edit_artist_registration_path(@artist) %></p>
  </div>

  <div class="m-3">
    <h4><%= pluralize(@artist.nb_plays, "play") %></h4>
    <h4><%= pluralize(@artist.fan_artists.count, "fan") %></h4>
    <h4><%= pluralize(@artist.duration, "seconds") %></h4>
  </div>

  <div class="m-3">
    <h3><%= pluralize(@artist.albums.count, "Album") %></h3>
    <% @artist.albums.each do |album| %>
      <p><%= link_to album.name, artist_album_path(@artist, album.id) %></p>
      <p><%= link_to "Edit #{album.name}", edit_artist_album_path(@artist, album) %></p>
      <p><%= link_to "Destroy #{album.name}", artist_album_path(@artist, album),
                    method: :delete, data: { confirm: "Are you sure ?"} %></p>
    <% end %>
  </div>

  <div class="m-3">
    <%= link_to "Post an album", new_artist_album_path(@artist) %>
  </div>

  <div class="m-3">
    <% if explorer_signed_in? %>
      <%= link_to "Explorer", dashboard_explorer_path(current_explorer.id) %>
    <% else %>
      <%= link_to "Explorer", new_explorer_session_path %>
    <% end %>
    <%= link_to "Destroy session", destroy_artist_session_path, method: :delete, data: {confirm: "Are you sure ?"} %>
  </div>
</div>
