<%= render 'shared/main-navbar-explorer' %>

<div class="show-album-container" data-controller="artist">
  <%= render 'shared/artist-header' %>
  <%= render 'shared/artist-show-navbar' %>
  <div class="artist-dashboard w-100" data-artist-target="artist_show_musics" data-controller="music">
    <% @musics.each_with_index do |music, index| %>
      <% @music = music %>
      <div class="music-card">
        <div class="music-card-index">
          <h6><%= index + 1 %></h6>
        </div>
        <div class="music-card-photo">
          <% if @music.album.photo.attached? %>
            <%= cl_image_tag @music.album.photo.key, class: "album-avatar-sm" %>
          <% else %>
            <img class="album-avatar-sm" src="">
          <% end %>
        </div>
        <div class="music-card-fans">
          <% fan_music = @explorer.fan_musics.find_by(music_id: @music.id) %>
          <% if fan_music.nil? %>
            <%= link_to explorer_artist_album_music_fan_musics_path(@explorer, @music.album.artist, @music.album, @music),
                method: :post, remote: true do %>
              <%= render 'shared/white-storm-sm' %>
            <% end %>
          <% else %>
            <%= link_to explorer_artist_album_music_fan_music_path(@explorer, @music.album.artist,
                @music.album, @music, fan_music), method: :delete, remote: true do %>
              <%= render 'shared/yellow-storm-sm' %>
            <% end %>
          <% end %>
        </div>
        <div class="music-card-name">
          <h6><%= @music.name %></h6>
        </div>
        <div class="music-card-plays">
          <p><%= @music.album.artist.name %></p>
        </div>
        <% if @music.audio_file.attached? %>
          <video id="music-<%= index %>" data-music_id="<%= @music.id %>" controls="controls"
            data-action="ended->music#play_music"
            src="http://res.cloudinary.com/<%= ENV['CLOUDINARY_CLOUD_NAME'] %>/video/upload/<%= @music.audio_file.key %>"
            class="music-player"></video>
        <% else %>
          <video id="music-<%= index %>" controls="controls" src="" class="music-player"></video>
        <% end %>
        <div class="music-card-more-options dropdown-toggle" id="moreOptionsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="moreOptionsDropdown">
          <%= link_to "Add to a playlist", new_explorer_music_playlist_music_path(@explorer, @music), class: "dropdown-item", remote: true %>
          <%= link_to "See Album 👀", show_explorer_explorer_artist_album_path(@explorer, @music.album.artist, @music.album), class: "dropdown-item" %>
          <%= link_to "See Artist 👀", explorer_artist_path(@explorer, @music.album.artist), class: "dropdown-item" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="artist-dashboard display-none h3-absolute" data-artist-target="artist_show_albums">
    <h3><%= pluralize(@artist.albums.count, "Album") %></h3>
    <div class="rect-grid margin-top-4">
      <% @artist.albums.each do |album| %>
        <div class="rect-card">
          <h6><%= album.name %></h6>
          <div class="rect-card-top-right-btn">
            <% fan_album = @explorer.fan_albums.find_by(album_id: album.id) %>
            <% if fan_album != nil %>
              <%= link_to explorer_artist_album_fan_album_path(@explorer, @artist, album, fan_album), method: :delete, remote: true do %>
                <%= render 'shared/yellow-storm-sm' %>
              <% end %>
            <% else %>
              <%= link_to explorer_artist_album_fan_albums_path(@explorer, @artist, album), method: :post, remote: true do %>
                <%= render 'shared/white-storm-sm' %>
              <% end %>
            <% end %>
          </div>
          <%= link_to "", show_explorer_explorer_artist_album_path(@explorer, @artist, album), class: "rect-card-main-btn" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="artist-dashboard display-none w-100" data-artist-target="artist_show_album">
    <% album = @artist.albums.sort_by(&:nb_plays).reverse.first %>
    <% if !album.nil? %>
      <div class="rect-card margin-top-4">
        <h6><%= album.name %></h6>
        <div class="rect-card-top-right-btn">
          <% fan_album = @explorer.fan_albums.find_by(album_id: album.id) %>
          <% if fan_album != nil %>
            <%= link_to explorer_artist_album_fan_album_path(@explorer, @artist, album, fan_album), method: :delete, remote: true do %>
              <%= render 'shared/yellow-storm-sm' %>
            <% end %>
          <% else %>
            <%= link_to explorer_artist_album_fan_albums_path(@explorer, @artist, album), method: :post, remote: true do %>
              <%= render 'shared/white-storm-sm' %>
            <% end %>
          <% end %>
        </div>
        <%= link_to "", show_explorer_explorer_artist_album_path(@explorer, @artist, album), class: "rect-card-main-btn" %>
      </div>
    <% end %>
  </div>
</div>
