<div class="d-flex flex-column">
  <div class="artist-header-container">
    <div class="storm-like">
      <% fan_album = @explorer.fan_albums.find_by(album_id: @album.id) %>
      <% if fan_album != nil %>
        <%= link_to explorer_artist_album_fan_album_path(@explorer, fan_album.album.artist, fan_album.album, fan_album), method: :delete, remote: true do %>
          <%= render 'shared/yellow-storm-lg' %>
        <% end %>
      <% else %>
        <%= link_to explorer_artist_album_fan_albums_path(@explorer, @album.artist, @album), method: :post, remote: true do %>
          <%= render 'shared/white-storm-lg' %>
        <% end %>
      <% end %>
    </div>
    <div class="album-header-info">
      <% if @album.photo.attached? %>
        <%= cl_image_tag @album.photo.key, class: "album-avatar-lg" %>
      <% else %>
        <img class="album-avatar-lg" src="">
      <% end %>
      <div class="album-header-info-box">
        <div class="album-header-info-box-1">
          <h4><%= @album.name %></h4>
          <h6><%= @album.fan_albums.count %> fans - <%= pluralize(@album.nb_plays, "play") %></h6>
        </div>
        <div class="album-header-info-box-2">
          <p><%= @album.musics.count %> songs - <%= @album.created_at.to_formatted_s(:long_ordinal) %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="album-header-meaning">
    <p><%= @album.meaning %></p>
  </div>
</div>
