<div id="main-navbar-container">
  <% controller_name = controller.controller_name %>
  <% action_name = controller.action_name %>
  <div id="main-navbar-brand">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= cl_image_tag "https://res.cloudinary.com/dsns4xicz/image/upload/v1622102666/zqgnsv65co2dniy6t3zp31d5py6j.png", height: 48, width: 48, crop: :fill %>
      <h4 class="writting-yellow">Bon Voyage</h4>
    <% end %>
  </div>

  <div id="main-navbar-btns-username">
    <div id="main-navbar-btns">
      <% if explorer_signed_in? %>
        <%= link_to "Explorer", dashboard_explorer_path(current_explorer.id), class: "navbar-explorer-btn" %>
      <% else %>
        <%= link_to "Explorer", new_explorer_session_path, class: "navbar-explorer-btn" %>
      <% end %>
      <% if artist_signed_in? %>
        <%= link_to "Artist", dashboard_artist_path(current_artist.id), class: "navbar-artist-btn yellow-border" %>
      <% else %>
        <%= link_to "Artist", new_artist_session_path, class: "navbar-artist-btn yellow-border" %>
      <% end %>
    </div>
    <div id="main-navbar-username">
      <p><%= @artist.name %></p>
      <% if @artist.photo.attached? %>
        <%= cl_image_tag @artist.photo.key, class: "navbar-avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <img class="navbar-avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="">
      <% end %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "Edit account", edit_artist_registration_path(@artist), class: "dropdown-item" %>
        <%= link_to "Log out", destroy_artist_session_path, method: :delete,
            data: {confirm: "Are you sure ?"}, class: "dropdown-item" %>
      </div>
    </div>
  </div>
</div>
