<%= render 'shared/main-navbar-explorer' %>

<div class = "artist-dashboard-container" data-controller="explorer">
  <%= render 'shared/dashboard-navbar-explorer' %>

  <div class="artist-dashboard" data-explorer-target="dashboard_explore">
    <div class="search-btn-container">
      <%= link_to "Search", research_explorer_path(@explorer), class: "white-btn" %>
    </div>
  </div>

  <div class="artist-dashboard h3-absolute" data-explorer-target="dashboard_artists">
    <h3><%= pluralize(@fan_artists.count, "artist") %></h3>
    <div class="dashboard-artists-grid">
      <% @fan_artists.each do |fan_artist| %>
        <div class="artist-card">
          <div class="artist-card-photo">
            <%= cl_image_tag fan_artist.artist.photo.key, class: "artist-avatar-sm" %>
          </div>
          <div class="artist-card-infos">
            <div class="artist-card-infos-left">
              <h6><%= fan_artist.artist.name %></h6>
              <p><%= pluralize(fan_artist.artist.fan_artists.count, "fan") %></p>
            </div>
            <div class="artist-card-infos-right">
              <%= link_to explorer_artist_fan_artist_path(@explorer, fan_artist.artist, fan_artist), method: :delete, remote: true do %>
                <%= cl_image_tag "https://res.cloudinary.com/dsns4xicz/image/upload/v1619343778/qmh7tyqfffmi9s4yuxnmn8vbx2b7.png"%>
              <% end %>
              <p><%= pluralize(fan_artist.artist.albums.count, "album") %></p>
            </div>
          </div>
          <%= link_to "", explorer_artist_path(@explorer, fan_artist.artist), class: "artist-card-btn" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="artist-dashboard" data-explorer-target="dashboard_albums">
    <h3><%= pluralize(@fan_albums.count, "album") %></h3>
    <% @fan_albums.each do |fan_album| %>
      <div class="m-1">
        <%= link_to fan_album.album.name, show_explorer_explorer_artist_album_path(@explorer, fan_album.album.artist, fan_album.album) %>
        <%= link_to "| Destroy coup de foudre", explorer_artist_album_fan_album_path(@explorer, fan_album.album.artist, fan_album.album, fan_album), method: :delete, remote: true %>
      </div>
    <% end %>
  </div>

  <div class="artist-dashboard" data-explorer-target="dashboard_playlists">
    <h3><%= pluralize(@playlists.count, "playlist") %></h3>
    <% @playlists.each do |playlist| %>
      <div class="m-1">
        <%= link_to playlist.name, explorer_playlist_path(@explorer, playlist) %>
        <%= link_to "| Edit #{playlist.name}", edit_explorer_playlist_path(@explorer, playlist) %>
        <%= link_to "| Destroy #{playlist.name}", explorer_playlist_path(@explorer, playlist),
                        method: :delete, data: { confirm: "Are you sure ?"}, remote: true %>
      </div>
    <% end %>
    <%= link_to "Create a new playlist", new_explorer_playlist_path(@explorer) %>
  </div>

  <div class="artist-dashboard">
    <h3><%= pluralize(@fan_musics.count, "coup") %> de foudre</h3>
    <% @fan_musics.each do |fan_music| %>
      <div class="m-1">
        <%= fan_music.music.name %>
        <%= link_to "Destroy coup de foudre", explorer_artist_album_music_fan_music_path(@explorer, fan_music.music.album.artist, fan_music.music.album, fan_music.music, fan_music), method: :delete, remote: true %>
        <%= link_to "Add to a playlist", new_explorer_music_playlist_music_path(@explorer, fan_music.music) %>
      </div>
    <% end %>
  </div>

</div>
