<div class="new-edit-album-container">
  <div class="new-edit-album-header">
    <div class="new-edit-album-header-box">
      <h3>You are <span class="underline-yellow">posting ...</span></h3>
    </div>
    <div class="new-edit-album-header-box">
      <%= link_to dashboard_artist_path(@artist) do %>
        <h6><span class="underline-red">Stop</span> posting</h6>
      <% end %>
    </div>
  </div>

  <div class="new-edit-album-form">
    <h3 class="writting-yellow">Album</h3>
    <%= simple_form_for [@artist, @album] do |f| %>
      <%= f.input :name %>
      <%= f.input :meaning %>
      <%= f.input :photo, as: :file %>
      <div data-controller="album">
        <%= f.simple_fields_for :musics, Music.new do |music| %>
          <div class="new-album-musics" data-album-target="new_musics">
          </div>
        <% end %>
        <div class="mt-3 mb-3">
          <button data-action="click->album#add_music" type="button" class="btn btn-primary">Add a music</button>
        </div>
      </div>
      <%= f.submit "Post", class: "yellow-submit-btn" %>
    <% end %>
  </div>
</div>
