<div class="m-5">
  <h1>This the creation of a new album</h1>
  <p>find me in app/views/albums/new.html.erb</p>

  <div class="m-3">
    <%= simple_form_for [@artist, @album] do |f| %>
      <%= f.input :name %>
      <%= f.input :meaning %>
      <%= f.input :photo, as: :file %>
      <div data-controller="album">
        <%= f.simple_fields_for :musics, Music.new do |music| %>
          <div class="new-album-musics" data-album-target="new_musics">
          </div>
        <% end %>
        <div class="mt-3 mb-3">
          <button data-action="click->album#add_music" type="button" class="btn btn-primary">Add a music</button>
        </div>
      </div>
      <%= f.submit %>
    <% end %>
  </div>
</div>
