<%= render 'shared/main-navbar-artist' %>

<div class="show-album-container">
  <div class="show-album-header">
    <%= render 'shared/album-header' %>
  </div>
  <div class="show-album-musics">
    <% @album.musics.each_with_index do |music, index| %>
      <div class="music-card">
        <div class="music-card-index">
          <h6><%= index + 1 %></h6>
        </div>
        <div class="music-card-photo">
          <% if @album.photo.attached? %>
            <%= cl_image_tag @album.photo.key, class: "album-avatar-sm" %>
          <% else %>
            <img class="album-avatar-sm" src="">
          <% end %>
        </div>
        <div class="music-card-name">
          <h6><%= music.name %></h6>
        </div>
        <div class="music-card-plays">
          <p><%= music.plays.count %> plays</p>
        </div>
        <div class="music-card-fans">
          <p><%= music.fan_musics.count %></p>
          <%= render 'shared/yellow-storm-sm' %>
        </div>
        <% if music.audio_file.attached? %>
          <video id="music-<%= index %>" controls="controls"
            src="http://res.cloudinary.com/<%= ENV['KEY_CLOUDINARY'] %>/video/upload/<%= music.audio_file.key %>"
            class="music-player"></video>
        <% else %>
          <video id="music-<%= index %>" controls="controls" src="" class="music-player"></video>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
