<div class="new-edit-album-container">
  <div class="new-edit-album-header">
    <div class="new-edit-album-header-box">
      <h5>You are <span class="underline-green">editing ...</span></h5>
      <h3><%= @playlist.name %></h3>
    </div>
    <div class="new-edit-album-header-box">
      <%= link_to dashboard_explorer_path(@explorer) do %>
        <h6><span class="underline-red">Stop</span> editing</h6>
      <% end %>
    </div>
  </div>

  <div class="new-edit-album-form">
    <%= simple_form_for [ @explorer, @playlist ] do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Update", class: "green-submit-btn" %>
    <% end %>

    <h6 class="writting-red">Unhappy ?</h6>
    <%= link_to "Destroy #{@playlist.name}", explorer_playlist_path(@explorer, @playlist),
                      method: :delete, data: { confirm: "Are you sure ?"},
                      class: "delete-album-btn" %>
  </div>
</div>
